# =========================
# Verilog / Simulation
# =========================
work/
transcript
vsim.wlf
*.wlf
*.vcd
*.fst
*.wcfg
*.log
*.jou
*.pb
*.str
*.wdb
modelsim.ini

# =========================
# ModelSim / Questa
# =========================
*.mpf
*.mti
*.cr
*.dat
*.dbg
*.bak
*.tmp
*.vstf
*.stackdump
*_stacktrace.txt

# Bibliotecas compiladas
_lib*
_info
_vmake

# =========================
# Quartus
# =========================
db/
incremental_db/
output_files/
simulation/
*.qws
*.sopcinfo
*.summary
*.rpt
*.chg
*.qdf
*.qar
*.jdi

# =========================
# Vivado
# =========================
.cache/
.hw/
.ip_user_files/
.runs/
.sim/
.gen/
.srcs/
*.xpr
*.bit
*.bin
*.ltx

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db
Desktop.ini